// .list li.ico1 {
//   background: url(1.jpg) no-repeat;
// }
// .list li.ico2 {
//   background: url(1.jpg) no-repeat;
// }
.list li {
  height: 100px;
  background: no-repeat 0 0 / 20px auto;
  text-indent: 30px;
}
@for $i from 1 to 6 {
  .list li.ico#{$i} {
    background: url(1.jpg) no-repeat;
  }
  .list li:nth-child(#{$i}):before {
    content: "제목#{$i}";
  }
}

// for의 쓰임새
// 반복되는 선택자들은 for으로
// 이미지가 바뀌는 경우에도 이미지의 이름을 1.jpg처럼 하면
// for문 사용 가능

//////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////
// each문
// : for과의 차이점은 변수명으로 문자열도 가능하다는 것!
// : in안의 파일명이 변수로 들어가서 하나씩 호출되어 나오는 형태

@each $var in 1, 2, 3 {
  .ico_#{$var} {
    background: url(images/#{$var}.jpg) no-repeat;
  }
}

///////////////////////////////////////////////////
$heading: (
  h1: 30px,
  h2: 20px,
  h3: 15px,
);

@each $elem, $fs in $heading {
  #{$elem} {
    font-size: $fs;
  }
}
