// .list li.ico1 {
//   background: url(1.jpg) no-repeat;
// }
// .list li.ico2 {
//   background: url(1.jpg) no-repeat;
// }
.list li {
  height: 100px;
  background: no-repeat 0 0 / 20px auto;
  text-indent: 30px;
}
@for $i from 1 to 6 {
  .list li.ico#{$i} {
    background: url(1.jpg) no-repeat;
  }
  .list li:nth-child(#{$i}):before {
    content: "제목#{$i}";
  }
}

// for의 쓰임새
// 반복되는 선택자들은 for으로
// 이미지가 바뀌는 경우에도 이미지의 이름을 1.jpg처럼 하면
// for문 사용 가능
